body {
    font-family: 'Lato', sans-serif;
  
}

h2 {
    font-family: 'Varela Round', sans-serif;
}


section {
    margin-bottom: 50px;
    background: linear-gradient(#c3d1da, rgb(202, 180, 202));
}

.visuallyhidden {
    margin: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

/* .container-small {
    width: 470px;
    margin: 0;
} */

/* 
section {
    background:  ;
} */




/* ==========header============= */

.header {
    background: url('../img/bg_header.jpg') center center/cover no-repeat;
    height: 950px;
    overflow: hidden;
    position: relative;
    
}

.header__top {
    position: relative;
    margin-top: 20px;
}

.header__content {
    max-width: 780px;
    margin: 0 auto;
    text-align: center;
        
}

.header__nav {
    display: flex;
    justify-content: space-between;
}

.header__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

}



.header__logo {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.header__img {
    width: 370px;
    display: block;
    position: absolute;
    z-index: 1;
    bottom: -300px;
    left: 50%;
    transform: translateX(-50%);
}




/* +++++++++++features============ */
.features {
    padding: 120px 195px 120px 250px;
}

.features__blocks {
    display: flex;
    
}

.features__block {
    width: 570px;
    padding: 0 40px 30px;

}

.features__block:first-child::before {
    content: url("../img/icons/Lock.png");
}


.features__block:last-child::before {
    content: url("../img/icons/Clock.png");
}



/* +++++++++++content============ */

.content {
    width: 470px;
    margin: 200px;
}




/* +++++++++++iphone============ */


.iphone {
    height: 943px;
    
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background: #fff url("../img/bg_iPhone6.png") no-repeat left;
}






/* +++++++++++map============ */

.map {
    display: flex;
    height: 800px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    background: #fff url("../img/bg_map.png") no-repeat right;

}




/* +++++++++++screen============ */

.screen {
    text-align: center;
    overflow: hidden;
}



.screen__title {
    position: relative;
    margin-bottom: 90px;
}

.screen__title::after {
    content: "";
    
    width: 80px;
    height: 2px;
    position: absolute;
    top: 70px;
    left: 50%;

    transform: translateX(-50%);
       
    z-index: 10;
    
    background: #267df4;
}


.screen__subtitle {
    margin-bottom: 50px;
}

.screen__wrap-img {
    display: flex;
   
}



/* +++++++++++smartphone============ */

.smartphone {
    text-align: center;
}




/* +++++++++++reviews============ */

.swiper-container {
    width: 600px;
    height: 400px;
}

.swiper-wrapper {
    width: 100%;
}

.swiper-slide {
    text-align: center;
}




/* +++++++++++plan============ */

.plan {
    display: flex;
    justify-content: space-between;

}

.plan__wrap {
    display: flex;
    justify-content: space-between;
}

.plan__content {
    width: 370px;
    margin-right: 130px;
}

.plan__cards {
    display: flex;
    width: 670px;
    

}

.plan__card {
    display: flex;
    flex-direction: column;
    width: 330px;
   
    
}

.plan__card--active {
    width: 340px;
}




/* +++++++++++subscribe====== */
.subscribe {
    text-align: center;
}






/* +++++++++++footer============ */

.footer__top {
    display: flex;
    justify-content: space-between;

}

.footer__boxes {
    display: flex;
    flex-direction: column;
    width: 270px;
}

.social-icons__link {
    text-decoration: none;
}

.footer__box {
    display: flex;
    flex-direction: row;
}

.footer__img {
    width: 140px;
    height: 16px;

}

.footer__link {
    display: block;
}




.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer__made {
    display: flex;
    align-items: center;
}